<section class="hero is-info is-fullheight">
  <div class="hero-head">
    
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Landing page
      </p>

    </div>
  </div>

  <div class="hero-foot">
    
  </div>
</section>