<section class="hero is-fullheight">
  <div class="hero-head">
    
  </div>

  <div class="hero-body has-bg-img">
  
    <div class="container has-text-centered">
      <p class="title">
        Landing page
      </p>
      
    </div>
  </div>

  <div class="hero-foot">
    
  </div>
</section>