<h1>This is the show page</h1>
<h1><%= @book.title%> by <%=@book.author.name%></h1>
<br/>
<button> Purchase Book <%= number_to_currency(@book.price)%> </button>

<%= link_to "Back to Books", intro_path%>