.navbar {
    background-color: rgba($color: #333131, $alpha: 0.8);
}
.navbar-item{
    color:rgb(15, 14, 14);
}
.book-card {
    min-height: 300px;
    max-width: 250px;
    // display: inline-block;
    
    padding: 8px;
    margin: 8px;
}

.book-wrapper {
    // text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.bold {
    font-weight: bold;
}
.library_photo {
    height: 450px;
    width: 100%;
}